<div class="row" ng-if="main.loggedIn">
  <file-upload class="btn btn-success" name="userFile" ng-model="my.foo.model" multiple="true" uri="/api/upload" accept="audio/mp3"><!--accept="image/png, image/jpg"  resize="true" max-width="1280" max-height="1280" class="btn-rad btn-trans file-upload"-->
      <i class="fa fa-upload"></i>
      <span>Upload Files</span>
      <ul>
          <li ng-repeat="p in my.foo.model" ng-hide="p.percent == 100">
              <small>{{ p.name }}</small>
              <div class="progress">
                  <div class="progress-bar" style="width: {{ p.percent }}%;"></div>
              </div>
          </li>
      </ul>
  </file-upload>
</div>
