<div class="row bands-row">
	<div class="col-md-4" ng-repeat="banda in bandas | orderBy:'name'">
    <a href="bandas/{{banda.slug}}">
      <div class="band">
  			<div ng-if="main.loggedIn" class="band-icons">
  				<i class="material-icons edit">mode_edit</i>
  				<i class="material-icons delete">clear</i>
  			</div>
        <div class="band-image">
          <img class="img-responsive" src="../images/{{banda.thumbnail}}">
        </div>
        <div class="band-content">
        	<h1 class="band-title">{{ banda.name }}</h1>
        </div>
      </div>
    </a>
  </div>
</div>
