/* STARTS GENERAL STYLES */

body, html {
  height: 100%;
  overflow-x: hidden;   
}
* {
  font-family: 'Roboto', sans-serif;	
  font-size: 15px; 
  transition: all .15s linear;
  box-sizing: border-box;
  -webkit-user-select: none;  /* Chrome all / Safari all */
  -moz-user-select: none;     /* Firefox all */
  -ms-user-select: none;      /* IE 10+ */
  user-select: none;          /* Likely future */ 
}
a:hover {
  text-decoration: none;
}
textarea {
  resize: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
i {
  padding: 0;
  margin: 0;
}
[ng\:cloak],
[ng-cloak],
[data-ng-cloak],
[x-ng-cloak],
.ng-cloak,
.x-ng-cloak {
  display: none !important;
}
/* ENDS GENERAL STYLES */

/* STARTS HEADER & NAV STYLES */

.navbar {
  margin-bottom: 0;
  background: #fff;
  position: fixed;
  width: 100%;
  z-index: 20;  
}
.racrac-nav {
  border-radius:0;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
  padding: 5px 0;  
}
.navbar .navbar-header .navbar-brand {
  height: 100%;
  margin-left: 0;
  padding: 5px;
}
.nav a {
  color: #444;
  text-transform: uppercase;
  outline: none;   
}
.nav>li>a:focus, 
.nav>li>a:hover { 
  background: none;  
  color: #00bfae;
}
.nav>li>a.active {
  color: #009d8f;
}

/* ENDS HEADER & NAV STYLES */

/* STARTS CONTAINER STYLES */

.racrac-container {
  position: relative;
  margin-top: 62px;
  height: calc(100% - 62px);
  background: #f7f7f7;;
}

.home-background {
  background: url("../images/background.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;  
}

/* ENDS CONTAINER STYLES */

/* STARTS HOME STYLES */ 

.welcome-message {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.welcome-message .btn {
  background: none;
  border: 1px solid #f5f6f7;
  color: #f5f6f7;
  text-transform: uppercase;
  font-size: 1.1em;
}
.welcome-message .btn:hover,
.welcome-message .btn:focus {
  background: #231f20;
  border: 1px solid #231f20;  
  color: #f5f6f7;
  outline: none;
}

/* ENDS HOME STYLES */

/* STARTS BANDS SECTION STYLES */

.bands-row {
  padding: 25px;
}
.band {
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
  border-radius: 4px;
  margin-bottom: 25px;
  background: #fff;
  cursor: pointer;
  box-sizing: border-box;
  background-clip: padding-box;  
}
.band:hover {
  transform: scale(1.005);
  box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.28);  
}
.band h1.band-title {
  color: #231f20;
  font-size: 1.1em;
  font-weight: 500;
  text-align: left;
  text-transform: uppercase;
  margin: 0;
}
.band .band-image {
  position: relative;
  overflow: hidden;
}
.band .band-image img {
  background-clip: padding-box;
  position: relative;
  z-index: 3;
}
.band .band-content {
  padding: 16px;
  background-clip: padding-box;
  box-sizing: border-box;
}
.band .band-content p {
  margin: 0;
  padding: 10px 0;
  color: inherit;
}
.band .band-content span.band-title {
  line-height: 48px;
}
.band-icons {
  padding: 12px 7px 7px 7px;
  display: block;
  text-align: right;
}
.band-icons i {
  color: #444;
  font-size: 1.2em;
  cursor: pointer;
}
.band-icons .edit:hover,
.band-icons .edit:focus {
  color: #00bfae;
}
.band-icons .delete:hover,
.band-icons .delete:focus {
  color: #E53935;
}

/* ENDS BANDS SECTION STYLES */ 

/* STARTS FORMS STYLES */

.form-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}
.form {
  max-width: 550px;
  background: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  
  border-radius: 3px;  
  padding: 30px;
  margin: 0 auto;
}
.form-control {
  margin-bottom: 20px;  
}
.form input {
  height: 50px;
}
.form textarea {
  height: 150px;
}
.form-control {
  border: none;
  border-radius: 0;
  background: none;
  box-shadow: none;
  padding: 0;  
  border-bottom: 1px solid #444;
}
.form-control:focus {
  outline: none;
  border: none;
  border-bottom: 1px solid #00bfae;
  box-shadow: none;
}
.form .btn {
  background: #00bfae;
  color: #f5f6f7;
  height: 100%;
  font-weight: 300;
  width: 30%;
  float: right;
  border: none;
  border-radius: 2px;
  text-transform: uppercase;
  transition: box-shadow 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0.2s;  
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);  
}
.form .btn:active {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition-delay: 0s;  
}
.form .btn:hover,
.form .btn:focus {
  background: #00bfae;    
  outline: none;
}
.form-control::-webkit-input-placeholder { 
  color: #444;
  font-size: 1.1em;
  text-transform: uppercase;
}
.form-control:-moz-placeholder { 
  color: #444;
  font-size: 1.1em;
  text-transform: uppercase;
}
.form-control::-moz-placeholder { 
  color: #444;
  font-size: 1.1em;
  text-transform: uppercase;
}
.form-control:-ms-input-placeholder { 
  color: #444;
  font-size: 1.1em;
  text-transform: uppercase;
}

/* ENDS FORMS STYLES */

/* STARTS ERROR STYLES */

.error {
  background: #E53935;
  color: #fff;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 550px;
  padding: 10px;
  margin: 40px auto 0 auto
}

/* ENDS ERROR STYLES */